name: Deploy Frontend to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy frontend folder
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: frontend
